@import "../../../scss/_common";

.vi-dropDown-cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background :rgba(0,0,0,.7);
    z-index: 100;
}
.vi-dropDown-nav{
    width: 100%;
    height: torem(40);
    line-height: torem(40);
    text-align: center;
    background: $white;
    position: relative;
    z-index: 1000;
    @include borderBottom();
    @include flexbox();

    li{
        @include flex(1);
        position: relative;
        &:after{
            position: absolute;
            bottom: 2px;
            right: 4px;
            content: '';
            display: block;
            width: 0;
            border: 6px solid $gray;
            border-color:transparent transparent transparent $gray;
            @include transform(rotate(45deg));
        }
    }
}

.vi-dropDown-wrapper{
    width: 100%;
    height: torem(400);
    position: relative;
    z-index: 1000;
    background: $white;
}


.vi-dropDown-list{
    display: none;

    &:first-child{
        display: block;
    }
    &.active{
        @include flexbox();
    }

    ul{
        @include flex(1);
        li{
            height: torem(40);
            line-height: torem(40);
        }
    }
}