@import "_var";



//base
$phone:750;
$url:'../../img/';
$remBase:$phone/2/320*20px;
//font-size
@function torem($size) {
  $remSize: $size / $remBase;
  @return $remSize * 1rem;
}
//media
@mixin media() {
	$width:540 600 640 720 750 768 800 1080 1152 1200 1152 1440 1536 1600 2160;
	@each $one in $width{
		@media only screen and (min-width: #{$one/2}px){
		    html {
		        font-size: $one/2/320*20px !important;
		    }
		}
	}
}




//flexbox
@mixin flexbox(){
	//OLD - iOS 6-, Safari 3.1-6 
	display: -webkit-box;
	//OLD - Firefox 19- (buggy but mostly works)
  	display: -moz-box;
  	//TWEENER - IE 10
  	display: -ms-flexbox;
  	//NEW - Chrome
  	display: -webkit-flex;
  	display: flex;
}
//ellipsis
@mixin ellipsis(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
//flex
@mixin flex($per){
	-webkit-box-flex:$per;
	-webkit-flex:$per;
	-moz-flex:$per;
	-ms-flex:$per;
	-o-flex:$per;
	flex:$per;
	//下面3个属性是为了兼容安卓4.3
	display:block;
	width:0%;
	overflow:hidden;
}
//arrow
@mixin arrow($deg){
	content: '';
	display:inline-block;
	margin-top:torem(-5px);
	width:torem(10px);
	height:torem(10px);
	border-right:1px solid #C7C7C7;
	border-top:1px solid #C7C7C7;
	@include transform(rotate($deg));
}
//center
@mixin center(){
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-pack: center;
	-moz-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	box-pack:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	-ms-box-align:center;
	-o-box-align:center;
	box-align:center;
}
// border-bottom
@mixin borderBottom(){
	border-bottom: 1px solid $lineGray;
}
//keyframes
@mixin keyframes($animateName){
	@-webkit-keyframes #{$animateName}
	{
		@content;
	}
	@-moz-keyframes #{$animateName}
	{
		@content;
	}
	@-ms-keyframes #{$animateName}
	{
		@content;
	}
	@-o-keyframes #{$animateName}
	{
		@content;
	}
	@keyframes #{$animateName}
	{
		@content;
	}
}
//animation
@mixin animation($str) {
	animation: $str;
	-webkit-animation: $str;
	-moz-animation: $str;
	-ms-animation: $str;
	-o-animation: $str;
}
//transition
@mixin transition($transition){
	transition:$transition;
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-ms-transition:$transition;
	-o-transition:$transition;
}
//transform
@mixin transform($transition){
	transform:$transition;
	-webkit-transform:$transition;
	-moz-transform:$transition;
	-ms-transform:$transition;
	-o-transform:$transition;
}
