@import "../../../scss/_common";
.picker-address .list .lis {
    height: torem(50);
    line-height: torem(50);
    @include borderBottom();
    position: relative;
    padding: 0 torem(16);
    font-size: torem(14);
    @include flexbox();
}

.picker-address .list .lis:last-child {
    border: 0;
}

.picker-address .list .lis .tip {
    color: #A6A6A6;
    font-size: torem(14)
}

.picker-address .list .lis strong {
    @include flex(1);
}

.picker-address .list .lis a.tel {
    color: #A6A6A6;
    font-size: torem(16);
}

.picker-address .list .lis span {
    height: torem(50);
    line-height: torem(50);
    @include flex(0.4)
}

.picker-address .list .lis span:last-child {
    @include flex(1);
    padding-right: torem(8);
    @include ellipsis()
}

.picker-address .list .lis label {
    width: torem(60);
    height: torem(50);
    line-height: torem(50);
}

.picker-address .list .lis input {
    border: none;
    @include flex(1);
}
.picker-address .picker{
    @include flex(1);
}
.placeholder {
    color: #c9c9c9
}
