@import "../../../scss/_common";

$prefixCls : '.iv-picker';

#{$prefixCls} {
    &-address .list .lis {
        height: torem(50);
        line-height: torem(50);
        border-bottom:1px solid $lineGray;
        position: relative;
        padding: 0 torem(16);
        font-size: torem(14);
        @include flexbox();

        &:last-child {
            border: 0;
        }

        .tip {
            color: #A6A6A6;
            font-size: torem(14)
        }

        strong {
            @include flex(1);
        }

        a.tel {
            color: #A6A6A6;
            font-size: torem(16);
        }

        span {
            height: torem(50);
            line-height: torem(50);
            @include flex(0.4)

            &:first-child{
                text-align: left;
            }
            &:last-child {
                @include flex(1);
                padding-right: torem(8);
                @include ellipsis()
            }
        }

        label {
            width: torem(60);
            height: torem(50);
            line-height: torem(50);
        }

        input {
            border: none;
            @include flex(1);
        }
    }
    
    &-address{
        #{$prefixCls}{
            @include flex(1);
        }

        .placeholder {
            color: #c9c9c9
        }
    }

}



