@import "../../../scss/_common";



.picker{
  width: 100%;
}


.picker-wraper .v-cover{
  display: none;
}
.picker-wraper.isShow .v-cover{
  display: block;
}
.picker-wraper.isShow .picker-container{
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.picker-container{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: torem(320);
  background: #fff;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transition: transform .25s ease;
  -webkit-transition: -webkit-transform .25s ease;
}
.picker-container.isShow .dt-container{
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.picker-container .picker-header{
  @include flexbox();
  @include borderBottom();
  height: torem(40);
  line-height: torem(40);
  color: $orange;
}
.picker-container .picker-header span{
  @include flex(1);
  box-sizing: border-box;
}
.picker-container .picker-header span.picker-cancle{
  padding-left:torem(30);
  text-align: left;
}
.picker-container .picker-header span.picker-confirm{
  padding-right:torem(30);
  text-align:right;
}
.picker-container .picker-content{
  @include flexbox();
}

.picker .picker-scroller{
  text-align:center;
  position: relative;
  z-index: 4;
  height: torem(280);
  overflow: hidden;
  width: 100%;
}
maskTop{
  position: absolute;
  left: 0;
  z-index: 3;
  width: 100%;
  height: torem(120);
  display: none;
}
.picker .picker-mask-top{
  @extend maskTop;
  top:0;
  background-image:linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,.9));
  background-image:-webkit-linear-gradient(bottom, rgba(255,255,255,.5), rgba(255,255,255,.9)); 
  border-bottom: 1px solid $lineGray;
}
.picker .picker-mask-bottom{
  @extend maskTop;
  bottom:0;
  background-image:linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,.9));
  background-image:-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,.9)); 
  border-top: 1px solid $lineGray;  
}
.picker-container .showMask .picker-mask-top , .picker-container .showMask .picker-mask-bottom{
  display: block;
}
.picker .picker-scroller .picker-item{
  line-height: torem(40);
  @include ellipsis();
}
.picker .isTransition{
  transition: all 0.5s cubic-bezier(0.29, 0.63, 0.68, 0.96);
  -webkit-transition: all 0.5s cubic-bezier(0.29, 0.63, 0.68, 0.96);
}

