
@import "../../../scss/_common";

.list .lis{ height:50px; line-height:50px; @include borderBottom(); position:relative;padding:0 16px; font-size:14px; @include flexbox();}
.list .lis:last-child{border:0;}
.list .lis .tip{ color:#A6A6A6; font-size:14px}
.list .lis strong{ @include flex(1);}
.list .lis a.tel{ color:#A6A6A6; font-size:16px;}
.list .lis span{height:50px; line-height:50px;}
.list .lis span:last-child{@include flex(1);padding-right:8px;@include ellipsis()}
.list .lis label{ width: 60px;height:50px; line-height:50px;}
.list .lis input{ border:none; @include flex(1);}


.placeholder{color:#c9c9c9}