@import "../../../scss/_common";


.list .lis{ height:torem(50px); line-height:torem(50px); border-bottom:1px solid $gray; position:relative;padding:0 torem(16px); font-size:torem(14px); @include flexbox();}
.list .lis:last-child{border:0;}
.list .lis .tip{ color:#A6A6A6; font-size:torem(14px)}
.list .lis strong{ @include flex(1);}
.list .lis a.tel{ color:#A6A6A6; font-size:torem(16px);}
.list .lis span{ @include flex(3);height:torem(50px); line-height:torem(50px);}
.list .lis label{ width:torem(60px);height:torem(50px); line-height:torem(50px);}
.list .lis input{ border:none; @include flex(1);}

.datetime .v-cover{
  display: none;
}
.datetime.isShow .v-cover{
  display: block;
}
.datetime.isShow .dt-container{
  -webkit-transform: translate3d(0, 0, 0);
}

.dt-container{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: torem(320px);
  background: #fff;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transition: transform .25s ease;
  -webkit-transition: -webkit-transform .25s ease;
  };

.dt-container .dt-header{
  @include flexbox();
  height: torem(40px);
  line-height: torem(40px);
  border-bottom:1px solid $lineGray;
  color: $orange;
}
.dt-container .dt-header span{
  @include flex(1);
  box-sizing: border-box;
}
.dt-container .dt-header span.dt-cancle{
  padding-left:torem(30px);
  text-align: left;
}
.dt-container .dt-header span.dt-confirm{
  padding-right:torem(30px);
  text-align:right;
}
.dt-container .dt-content{
  @include flexbox();
}
.dt-container .dt-content .dt-scroller{
  @include flex(1);
  text-align:center;
  position: relative;
  height: torem(280px);
  overflow: hidden;
}
maskTop{
  position: absolute;
  left: 0;
  z-index: 3;
  width: 100%;
  height: torem(120px);
  display: none;
}
.dt-container .dt-wraper .dt-mask-top{
  top:0;
  border-bottom: 1px solid $lineGray;
  @extend maskTop;
  background-image:linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,.9));
  background-image:-webkit-linear-gradient(bottom, rgba(255,255,255,.5), rgba(255,255,255,.9)); 
}
.dt-container .dt-wraper .dt-mask-bottom{
  bottom:0;
  border-top: 1px solid $lineGray;
  @extend maskTop;
  background-image:linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,.9));
  background-image:-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,.9)); 
}
.datetime .showMask .dt-mask-top , .datetime .showMask .dt-mask-bottom{
  display: block;
}
.dt-container .dt-content .dt-scroller .dt-item{
  line-height: torem(40px);
}
.dt-container .isTransition{
  transition: all 0.5s cubic-bezier(0.29, 0.63, 0.68, 0.96);
  -webkit-transition: all 0.5s cubic-bezier(0.29, 0.63, 0.68, 0.96);
}