@import "_common";

// grid
@mixin cols(){
    @for $index from 1 through 12{
        .row .col-#{$index}{
           width: $index/12*100%;
           float: left;
           box-sizing:border-box; 
        }
    }
}

// offset
@mixin offset(){
    @for $index from 1 through 12{
        .row .col-offset-#{$index}{
           margin-left : $index/12*100%;
        }
    }
}


.row{
	display:block;
    &:after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        clear: both;
    }
}

@include cols();
@include offset();