@import "_common";
@import "reset";
@import "grid";
@import "button";
@import "list";
@import "animate";


//------------------------------------------------app reset------------------------------------------------
body {
    background: #F4F4F4;
    font-family: 'Helvetica Neue', Helvetica, sans-serif; //mui接近原生字体
    font-size: torem(16);
    color: $textDefault;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: $blue;
}


/*------ util ---------*/

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}


// title
.title {
    height: torem(40);
    line-height: torem(40);
    padding-left: torem(20);
    font-size: torem(14);
}

//v-cover
.v-cover {
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, .7) !important;
}