.list {
    position: relative;
    font-size: 16px;
    background: $white;
}

.list p.title {
    height: 50px;
    line-height: 50px;
    text-indent: 16px;
}

.list li {
    height: 50px;
    line-height: 50px;
    @include borderBottom();
    position: relative;
    padding: 0 16px;
    font-size: 14px;
    @include flexbox();
}

.list li:last-child {
    border: 0;
}

.list li .tip {
    color: #A6A6A6;
    font-size: 14px
}

.list li strong {
    @include flex(1);
}


.list li span {
    @include flex(3);
    height: 50px;
    line-height: 50px;
}

.list li label {
    width: 60px;
    height: 50px;
    line-height: 50px;
}

.list .icon:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: auto 0;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.list .arrow:after {
    @include arrow(45deg);
    margin: auto 0;
}
