@import "../../../scss/dep/_common";

.vi-swiper{
    width: 100%;
    min-height: torem(160px);
    background:$white;
    overflow: hidden;
    position: relative;
}
.vi-swiper-wrapper{
    @include flexbox();
    min-height: 100%;
}
.vi-swiper-wrapper a{
    display: block;
    width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}
.vi-swiper-wrapper a img{
    width: 100%;
    min-height: 100%;
}

.vi-swiper-dot {
    position: absolute;
    bottom: torem(10px);
    left: 50%;
    transform: translate(-50%);
    @include flexbox();
}
.vi-swiper-dot li{
    @include flex(1);
    margin-right: 10%;
    border-radius: torem(20px);
    width: torem(10px);
    min-height: torem(10px);
    background: $white;
    opacity: .5;
}
.vi-swiper-dot li:last-child{
    margin-right: 0;
}
.vi-swiper-dot li.active{
    background: $orange;
    opacity: 1;
}

.isTransition{
  transition: all 0.3s cubic-bezier(0.2, 0.4, 0.58, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.4, 0.58, 1);
}