@import "../../../scss/_common";

$prefixCls : '.iv-swiper';

#{$prefixCls}{
    width: 100%;
    min-height: torem(140);
    background:$white;
    overflow: hidden;
    position: relative;

    &-wrapper{
        @include flexbox();
        min-height: 100%;
    }

    &-wrapper a{
        display: block;
        width: 100%;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
    }

    &-wrapper a img{
        width: 100%;
    }

    &-dot {
        position: absolute;
        bottom: torem(10);
        left: 50%;
        transform: translate(-50%);
        @include flexbox();
    }

    &-dot li{
        @include flex(1);
        margin-right: torem(8);
        border-radius: 50%;
        width: torem(10);
        height: torem(10);
        background: $white;
        opacity: .5;
    }

    &-dot li:last-child{
        margin-right: 0;
    }

    &-dot li.active{
        background: $orange;
        opacity: 1;
    }

    .isTransition{
      transition: transform 0.3s cubic-bezier(0.2, 0.4, 0.58, 1);
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2, 0.4, 0.58, 1);
    }
}


